doctype html
html

  head
    title Training Blog
    meta(name='viewport' content='width=device-width, initial-scale=1')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://identity.netlify.com/v1/netlify-identity-widget.js', type='text/javascript')
    != css('../')
    != js('../')

  body
    #background

    block content