extends _layout

block content
  header
    .heading
      h1 QUT eSports Training Blog
      p Please select a game to view its training material
    .games
      a(href='leagueoflegends.html'): img(src='img/league of legends.jpg')
      a(href='overwatch.html'): img(src='img/overwatch.jpg')
      a(href='hearthstone.html'): img(src='img/hearthstone.jpg')
      a(href='dota2.html'): img(src='img/dota 2.jpg')
      a(href='rocketleague.html'): img(src='img/rocket league.jpg')
      a(href='allposts.html'): img(src='img/allposts.jpg')
