extends _layout

block content
  .login
    img(src='img/logo.png')
    p Please login to your training account. If you dont have a training account or want to be a member please contact us on facebook by 
      a(target='_blank', href='https://www.facebook.com/QUTeSports/') clicking here