header
  size(100%, calc(100% - 66px))
  absolute(bottom 0 left 0)
  display flex
  justify-content center
  align-items center
  flex-wrap wrap

  .heading
    h1
      text-align center
      margin-top 10px

    p
      text-align center
      font-size 1.5rem

  .games
    display flex
    justify-content space-around
    align-items center
    flex-wrap wrap

    a
      cursor pointer
      margin 1rem
      text-decoration none

      img, #post
        size(25rem 12.5rem)
        transition()
        hover-pop(1.1)

      #post
        display flex
        justify-content center
        align-items center
        background darken($orange, 10%)

        p
          font-size 4rem