@font-face
  font-family 'uvf_bourgeois_med'
  src url('../font/uvf_bourgeois-med-webfont.woff2') format('woff2'), url('../font/uvf_bourgeois-med-webfont.woff') format('woff')
  font-weight normal
  font-style normal

@font-face
  font-family 'nevisbold'
  src url('../font/nevis-webfont.woff2') format('woff2'), url('../font/nevis-webfont.woff') format('woff')
  font-weight normal
  font-style normal
