.login
  height inherit
  display flex
  flex-direction column
  justify-content center
  align-items center

  img
    size(300px 150px)

  p
    width 300px
    text-align center
    padding 10px 0   

    a
      text-decoration none
      color inherit
