normalize-css()

@import '_settings'
@import '_vars'
@import '_font'
@import '_index'
@import '_blog'
@import '_games'
@import '_post'

+below(500px)
  html
    font-size 12px

html, body
  size(100%)

body, h1, p
  margin 0
  color white

body
  font-family 'uvf_bourgeois_med'

  #background
    fixed()
    size(100%)
    z-index -1
    gradient($dark-blue, black)

  h1, h2, span
    font-family 'nevisbold'

  h1
    margin-bottom 10px

  p
    font-size 1.2rem
    margin 10px 0

  .netlify-identity-button
    fixed(top 20px right 20px)
    button()